<div class="d-flex justify-content-between">
    <div class="bg-light fs-2">@Title</div>
    <button class="btn btn-light">+</button>
</div>



@if (Todos is not null)
{
    for (var i = 0; i < Todos.Count; i++)
    {
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox">
                @Todos[i]
            </label>
        </div>

        if (i != 0)
        {
            <hr />
        }
    }
}


@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public ObservableCollection<string>? Todos { get; set; }
}
