@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           Developed by       
           <a class="link-primary mx-1" href="https://simonedevoti.com">
               Simone Devoti
           </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
