@page "/"

<PageTitle>Info</PageTitle>

<h1>
    A web app built by
    <a class="link-primary mx-1" href="https://simonedevoti.com">
        Simone Devoti
    </a>
</h1>

<hr />

<a class="btn btn-primary btn-lg" href="todo">Go to the app</a>

<hr />

<h2 class="mb-4">Frequently asked questions</h2>

<h3 class="mt-3">Why does this app exist?</h3>
<p>Its purpose is just to showcase some of my skill</p>

<h3 class="mt-3">What does it do?</h3>
<p>
    Enables you to create and manage your to-dos. It follows the principles of the Eisenhower matrix.
    If you organize your tasks in this matrix you will be more productive
</p>

<h3 class="mt-3">How was it built?</h3>
<p>
      It uses Blazor WASM.
      A <a href="https://dotnet.microsoft.com/">dotnet</a> framework that can be used to build client rendered web applications using C# and compiling it to webassembly code.
      I enabled the PWA support, so you can download the app into your phone, tablet or computer.
</p>

<h3 class="mt-3">Can I download the source code?</h3>
<p>
     Yes you can! The source code is available on my <a href="https://github.com/simone-devoti">Github profile</a>
</p>